{%extends "layout.html"%} {%block content%}
<div class="container" style="padding-top:5%;">

    <div class="row">
        <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-3"></div>
        <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-6 ">


            <h2 class="text-center" style="padding-bottom:4%;">LOAS,
                <br>Amparo,
                <br>Benefício Assistenciail,
                <br>Benefício de Prestação Continuada (BPC)
                <br>...
                <br>
                O que são e o que preciso para conseguir o meu?</h2>
            <br>
            <h3>O que é?</h3>

            <p class="text-justify">O BPC - Benefício de Prestação Continuada - popularmente conhecido como LOAS, Benefício ao Idoso, Benefício ao
                Deficiente, Amparo, etc. - está previsto no art.20 da Lei nº 83.742, de 07 de dezembro de 1993 - Lei Orgânica
                da Assistência Social ( daí o nome LOAS) - e é a garantia de um salário mínimo mensal à pessoa com deficiência
                ou ao idoso - a partir de 65 anos de idade - que comprovadamente não possuem condições de se manter ou de
                serem mantidos por suas famílias. </p>

            <p class="text-justify">Trata-se de um benefício da Política Nacional de Assitência Social (PNAS) que integra a proteção social básica
                no âmbito do Sistema Único de Assistência Social (SUAS) sendo operacionalizado pelo Instituto Nacional do
                Seguro Social (INSS). É importante destacar que os Benefícios Assistenciais
                <u>não são benefícios previdenciários</u>. Isso porque Benefícios Previdenciários são aqueles pelos quais a
                pessoa contribui (direta ou indiretamente) para o sistema previdencíario nacional. Já os Benefícios Assistenciais
                são uma forma de ajuda e proteção do Estado, independentemente da pessoa ter ou não contribuido.</p>

            <br>
            <h3>Do Grupo Familiar</h3>

            <p class="text-justify">A análise de direito ao benefício é levada em consideração a renda mensal do grupo familiar. Família, em um BPC,
                é o conjundo de pessoas - cônjuge, companheiro(a), os pais e na ausência deles madrasta ou padastro, irmãos
                solteiros, filhos e enteados solteiros além de menores tutelados - que vivam sob o mesmo teto com o requerente.
                Somente estes elencados acima são contados no grupo familiar e somente se residirem com o requerente. A relação
                de parentesco é definida a partir do requerente.</p>


            <div class="card border-primary mb-3">
                <div class="card-header"><strong>Exemplos:</strong></div>
                <div class="card-body text-primary">
                <p class="text-justify">- Ricardo quer requerer um BPC. Ele mora com sua mãe, uma tia e um primo. Para efeitos de análise do grupo
                    familiar serão considerados somente o Ricardo e sua mãe pois tios e primos não entram para o grupo familiar.
                    Logo, o grupo familiar de Ricardo tem somente 02 pessoas.</p>

                <p class="text-justify">- Amanda quer requerer um BPC e vive na casa de seus sogros juntamente com seu marido. No grupo familiar
                    da Amanda serão considerados somente ela e o marido, pois sogros não são contados no grupo familiar.
                    Logo, o grupo familiar de Amanda tem somente 02 pessoas</p>

                <p class="text-justify">- Luan quer requerer um BPC e vive com sua companheira e os dois filhos dela que ainda são crianças (os dois
                    filhos são da companheira com o primeiro marido que ela teve).No grupo familiar do Luan são considerados:
                    o Luan, a companheira e os dois filhos da compaheira (que neste caso são entiados do Luan). Logo, o grupo
                    familiar de Luan tem somente 04 pessoas</p>

                <p class="text-justify">- Tobias mora em um lar para idosos ( um abrigo ou asilo ). No grupo familiar de Tobias só ele será considerado,
                    pois ele não mora com familiares.</p>

                <p class="text-justify">Entendeu? Para identificar os membros do grupo familiar deve-se verificar a relação dele com cada uma das
                    pessoas que com ele vive sob o mesmo teto.</p>
                </div>
            </div>
            <br><br>
                <h3>Da Renda Máxima Permitida (renda per capita)</h3>

                <p class="text-justify">Para que a pessoa tenha direito ao benefício é necessário que a renda mensal per capta ( ou seja, por pessoa)
                    deve ser inferior a 1/4 de salário mínimo vigente na data do requerimento. Então, deve-se verificar quem
                    são as pessoas do grupo familiar e somar as rendas de todas elas. Pega-se então o valor da somatória
                    e se divide pela quantidade de pesoas</p>

                <p class="text-justify">Assim, em um grupo familiar composto por 04 pessoas, deve-se somar a renda das quatro pessoas e dividir o
                    valor total por 04 chegando-se então ao valor da renda per capita ( renda por pessoa ). Para que tenha
                    direito ao benefício a renda per capita mensal deve ser inferior a 1/4 de salário mínimo.</p>
                <br>
                <h3>Dos dois tipos de BPC: ao Idoso e ao Deficiente</h3>

                <p class="text-justify">O BPC se divide em dois tipos: Benício Assistencial ao Idoso e Beneficio Assitencial ao Deficiente.</p>

                <p class="text-justify">Quando do requerimento do benefício a documentação passará por análise administrativa que segue todas as
                    nomas pelas quais o BPC é regido. Se o requerente tiver 65 anos ou mais, automaticamente o benefício
                    requerido será o Benefício Assistencial ao Idoso. Neste caso, o requerimento é analizado somente com
                    base nos documentos apresentados, não sendo necessária avaliação social e perícia médica.</p>

                <p class="text-justify">Se o requerimento tiver menos de 65 anos de vida, automaticamente o benefício requerido será o Benefício
                    Assistencial à Pessoa Deficiente. Neste caso a análise será em três etapas: 1 - análise da documentação
                    apresentada; 2 - avaliação social com uma Assistente Social do INSS; 3 - perícia médica realizada por
                    um médico perito do INSS;
                </p>

                <p class="text-justify">Cabe lembrar que o Benefício Assistencial à Pessoa Deficiente não é para pessoas doentes, o que causa muita
                    confusão. Este benefício é para pessoas com deficiência, ou seja, "aquela que tem impedimentos de longo
                    prazo de natureza física, mental, intelectual ou sensorial, os quais em interação com diveras barreiras,
                    podem obstruir sua participação plena e efetiva na sociedade em igualdade de condições com as demais
                    pessoas" (inc.1, art.4º Decreto nº 6.214,2007). Ou seja, o BPC ao deficiente é para quem tem uma deficiência
                    que gera incapaciade de longo prazo não sendo devido, por exemplo, a alguém que simplesmente quebrou
                    o braço mas que dentro de 30 ou 60 dias estará perfeitamente recuperado.</p>
                
                <br>
                <h3>Da necessidade de cadastro no CadÚnico</h3>

                <p class="text-justify">Com a publicação da Portaria Conjunta nº1 MDSA/INSS, de 03 de janeiro de 2017, passou a ser exigido o cadastro
                    do requerente e seu grupo familiar no Cadastro Único do Governo Federal (CadÚnico) para fins de acesso
                    ao BPC. O CadÚnico é o mesmo cadastro utilizado para concessão do Bolsa Família mas não é necessário
                    ter Bolsa Família para ter direito ao BPC.</p>

                <p class="text-justify">O cadastramento e a atualização no CadÚnico é de responsabilidade dos municípios, então você deve procurar
                    a Assistência Social do município em que você mora para poder fazer o cadastramento da sua família. Lembrando
                    que todos os integrantes do grupo familiar devem ter CPF e registro civil (certidão de nascimento ou
                    casamento). Até mesmo crianças pequenas devem apresentar o CPF. Se você ou algum dos seus familiares
                    não tiver CPF, deve procurar a Receita Federal ou uma agência dos Correios para se cadastrar.</p>
                
                <br>
                <h3>Do requerimento</h3>

                <p class="text-justify">Para requerer algum BPC é necessário agendamento prévio por meio de um dos canais de atendimento (fone 135,
                    internet ou em uma das agências do INSS).
                    <a href="#">Para fazer o seu agendamento agora clique aqui.</a>
                </p>

                <p class="text-justify">Na data e horário agendados o requerente, ou seu procurador/representante legal, deve comparecer na Agência
                    da Previdência Social munido da documentação necessária:</p>

                <ul>

                    <li>
                        <a href="#">Formulário de Requerimento de Benefício de Prestação Continuada e Composição do Grupo Familiar</a>
                        devidamente preenchido e assinado;
                    </li>
                </ul>

                <ul>
                    <li>Cópias e Originais ou Cópias Autenticadas:</li>

                    <ul>
                        <li>Identidade</li>
                        <li>CPF</li>
                        <li>Carteira de Trabalho</li>
                        <li>Certidão de Casamento ou Nascimento</li>
                        <li>Comprovante de endereço</li>
                    </ul>

                </ul>

                <div class="div_warning">
                    <p class="text-justify">
                        <span style="color: red;">
                            <strong>Atenção!</strong>
                        </span> Os documentos acima são exigidos para cada um dos membros do grupo familiar. Para crianças a identidade
                        e a carteira de trabalho não são obrigatórias.</p>
                </div>

                <br><br>
                <h3>Benefício Assistencial dá direito a 13º?</h3>

                <p class="text-justify">Não, Benefícios Assitenciais não direito ao pagamento de décimo terceiro salário. Lembre-se que se trata
                    de uma "ajuda" que o estado dá para pessoas em situação de vulnerabilidade social.</p>

                <p class="text-justify">Beneficiários de BPC também não pode fazer empréstimo consignado (aqueles empréstimos que já são descontados
                    na folha de pagamento) e também não dão direito a pensão por morte. Ou seja, se alguém que estiver recebendo
                    um BPC falecer seus dependentes ( filhos, cônjuge, companheiro,etc.) não terão direto a pensão por morte.</p>
                
                <br><br>
                <h3>Glossário:</h3>

                <ul>
                    <li class="text-justify">
                        <strong>BPC</strong> - Benefício de Prestação Continuada. É o mesmo que LOAS, amparo, auxílio do idoso e
                        vários outros nomes similares.</li>
                    <li class="text-justify">
                        <strong>LOAS</strong> - Lei Orgânica da Assistência Social. Também é usado como sinônimo para BPC.</li>
                    <li class="text-justify">
                        <strong>Família / Grupo Familiar</strong> - grupo de pessoas com algum grau de parentesco (sanguíneo ou por
                        fanidade) e que vivam sob o mesmo teto.</li>
                    <li class="text-justify">
                        <strong>Requerimento</strong> - pedido do benefício.</li>
                    <li class="text-justify">
                        <strong>Requerente</strong> - aquele que está pedindo o benefício.</li>
                    <li class="text-justify">
                        <strong>Beneficiário</strong> - a pessoa que recebe um benefício.</li>
                    <li class="text-justify">
                        <strong>Renda per capita</strong> - renda por pessoa. É o resultado da somatória da renda do grupo familiar
                        dividido pela quantidade de pessoas da família.</li>
                    <li class="text-justify">
                        <strong>Representante legal</strong> - pessoa que tem atribuição/direito de representar outra. Os tipos mais
                        comuns são:
                        <br>
                        <ul>
                            <li><strong>Tutor nato</strong> - pai ou mãe;</li>
                            <li><strong>Curador</strong> - pessoa designada por um juiz para ser responsável por outra pessoa que é considerada
                                incapaz.</li>
                            <li><strong>Tutor</strong> - pessoa designada por um juiz para ser responsável por um menor.</li>
                        </ul>
                    </li>
                    <li class="text-justify"><strong>Procurador</strong> - pessoa que é autorizada por outra, por meio de uma procuração, para representa-la.</li>
                </ul>

                <p class="text-center">
                    <a href="#">Faça agora uma análise para saber se você tem direito a um Benefício Assistencial</a>
                </p>

                <p class="text-center">Você ainda tem alguma dúvida?
                    <a href="#">Pergunte-nos!</a>
                </p>


                <div style="padding-bottom:80px;"></div>

            </div>
            <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-3"></div>
        </div>

    </div>



    {%endblock%}