{%extends "layout.html"%} {%block content%}
<div class="container" style="padding-top:5%;">
    
    <div class="row">
        <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-3"></div>
        <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-6 ">
            <h2 class="text-center" style="padding-bottom:4%;">TERMO DE RESPONSABILIDADE:</h2>

            <p class="text-justify"><strong>ESTE SITE NÃO É OFICIAL, NÃO PERTENCE AO INSS E NÃO TEM QUALQUER VÍNCULO / RELAÇÃO OU LIGAÇÃO COM O INSS, O MINISTÉRIO
                DA PREVIDÊNCIA OU QUALQUER OUTRO ÓRGÃO OFICIAL DA ADMINISTRAÇÃO PÚBLICA BRASILEIRA.</strong></p>
            <p class="text-justify">Os dados, sistemas e informações aqui disponibilizadas não tem nenhuma finalidade oficial, não asseguram nenhum
                direito e não servem para qualquer fim de comprovação. A equipe envolvida na publicação destas informações
                se exime integralmente de qualquer responsabilidade por custos, prejuízos ou danos causados a usuários ou
                a terceiros pela utilização de qualquer informação aqui obtida, sendo que o objetivo deste site é compartilhar
                informações previdenciárias de maneira simples e gratuita, com base em nossos estudos e interpretação das
                leis e publicações gerais.</p>
            <p class="text-justify"><strong> Nossos sistemas estão em fase de testes e podem apresentar erros.</strong> Por favor, caso identifique algum erro ou informação
                incorreta, entre em contato conosco para que possamos tomar as providências necessárias e assim melhorar
                este serviço para os próximos usuários.</p>

        </div>
        <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-3"></div>
    </div>

</div>



{%endblock%}