{%extends "layout.html"%} {%block content%}


<div class="container" style="height: 50%;position: relative;">
	<div class="row align-middle">
		<div class="col-lg-2 col-xl-3"></div>
		<div class="col-lg-8 col-xl-6">
		<h3 class="text-center" style="margin-top:10%">Contagem de Tempo de Contribuição</h3>
		<br>
		<h4>Adicionar Período</h4>
		<form action="{{ url_for('continua_contagem')}}" style="width:100%" class="form-inline" method="POST"
		 id="myform">
			<fieldset>
				<div class="row">


					<div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top:2%">
						<label for="empregador">Empregador</label>
						<input type="text" class="form-control" style="width: 100%;" id="empregador" name="empregador" aria-describedby="empregador"
						 placeholder="Autonomo, Nome da empresa, Orgão Público ou Empregador" required>
					</div>

					<div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="margin-top:2%">
						<label for="dataInicioVinculo">Data de Início:</label>
						<input type="date" class="form-control" style="width: 100%;" name="dataInicioVinculo" id="dataInicioVinculo" required onchange="validaDatas()">
					</div>

					<div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="margin-top:2%">
						<label for="dataTerminoVinculo">Data de Término:</label>
						<input type="date" class="form-control" style="width: 100%;" name="dataTerminoVinculo" id="dataTerminoVinculo" required onchange="validaDatas()">
					</div>

					<div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top:2%">
						<button type="submit" class=" btn btn-primary btn-block" id="btAdicionar">Adicionar</button>
					</div>

				</div>
			</fieldset>

		</form>

		<form action="{{ url_for('nunca_contribuiu')}}" method="POST" id="contribuicao" style="margin-top:2%">
			<fieldset>
				<button type="submit" style="bottom:0;" class="btn btn-outline-danger btn-sm btn-block">Nunca contribui com o INSS</button>
			</fieldset>
		</form>
	</div>
	<div class="col-lg-2 col-xl-3"></div>
</div>
</div>




<script type="text/javascript">
	function validaDatas() {

		if ($("#dataTerminoVinculo").val() != '' && $("#dataInicioVinculo").val() != '') {

			if ($("#dataTerminoVinculo").val() < $("#dataInicioVinculo").val()) {

				$("#dataTerminoVinculo").addClass("is-invalid");
				$('#dataTerminoVinculo').tooltip({
					title: "Data de Término deve ser posterior à Data de Início!"
				});
				$("#dataInicioVinculo").addClass("is-invalid");
				$('#dataInicioVinculo').tooltip({
					title: "Data de Término deve ser posterior à Data de Início!"
				});
				$("#btAdicionar").prop("disabled", true);
			} else {
				$("#dataTerminoVinculo").removeClass("is-invalid");
				$("#dataInicioVinculo").removeClass("is-invalid");
				$("#btAdicionar").prop("disabled", false);
			}
		}
	}

	$(document).ready(function () {

		
		$("#dataTerminoVinculo").blur(function () {
			validaDatas();
		});
		$("#dataInicioVinculo").blur(function () {
			if ($("#dataTerminoVinculo").val() !== '') {
				validaDatas();
			}
		});


	});
</script> {%endblock%}


<!--
O que um vínculo tem?
1 - empregador
2 - data de entrada
3 - data de saída
-->