{%extends "layout.html"%} {%block content%}

<br>
<br>
<br>


<div class="row">
    <div class="col-12 col-sm-1 col-md-2 col-lg-3 col-xl-3"> </div>
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6 text-center">
        {%if tem_algum_direito%}
        <div href="#" class="list-group-item list-group-item-action active bg-success">
            Você pode ter direito aos seguintes Benefícios:
        </div>
        {% endif %}
        <div class="list-group">

            {%for resultado in pessoa.direitos%} {%if resultado.is_tem_direito%}
            <a href="#" class="list-group-item list-group-item-action">
                <strong>{{resultado.nome_do_beneficio}}:</strong>
            </a>
            {% endif %} {% endfor %}
        </div>
        <br>

        <div class="list-group">
            {%if nao_tem_algum_direito%}
            <div href="#" class="list-group-item list-group-item-action active bg-danger">
                Você parece
                <strong>não </strong>ter direito aos seguintes Benefícios:
            </div>
            {% endif %}
            {%for resultado in pessoa.direitos%} {%if not resultado.is_tem_direito%}
            <a href="#" class="list-group-item list-group-item-action">

                <strong>{{resultado.nome_do_beneficio}}:</strong>
                <br>
                <ul>
                    {%for razao in resultado.razoes_de_nao_ter_direito:%}
                    <li class="text-justify" style="padding-bottom:10px;">{{razao}}</li>
                    {% endfor %}
                </ul>

            </a>
            {% endif %} {% endfor %}
        </div>
    </div>
    <div class="col-12 col-sm-1 col-md-2 col-lg-3 col-xl-3"></div>

</div>
<div style="padding-bottom:80px;"></div>

{%endblock%}