{%extends "layout.html"%} {%block content%}
<br><br><br>


<div class="row">
  <div class="col-4"> </div>
  <div class="col-4 text-center" style="padding-bottom: 50px;">
    <h2>Analisando seus direitos...</h2>
    <form action="{{ url_for('analise_direiros_loas_verifica_renda')}}" method="POST" id="direitos-form" class="text-center">
      <br>
      <fieldset class="form-group">
        <br>

        <label>Agora precisamos saber a <strong> renda total </strong> do seu grupo familiar.</label><br>

        <div class="card text-black bg-light">
          <div class="card-body">
            <blockquote class="card-blockquote">
              <div class="list-group">
                <div class="card text-white bg-warning">
                  <label class="card-body">No campo abaixo, informe todas as rendas recebidas pelas <u>pessoas que você marcou na tela anterior</u>.<br></label>
                </div>
                <br>
                <div class="list-group-item  list-group-item-action active"><label>Informe rendimentos decorrentes de:</labeL></div>

                <p class="list-group-item list-group-item-action">salários</p>
                <p class="list-group-item list-group-item-action">recebimentos de alugueis</p>
                <p class="list-group-item list-group-item-action">aposentadorias, pensões e benefícios diversos</p>
                <p class="list-group-item list-group-item-action">trabalho informal (quem trabalha como autônomo, por conta própria, etc.)</p>
                <p class="list-group-item list-group-item-action">retiradas de pró-labore</p>
                <p class="list-group-item list-group-item-action">seguro-desemprego</p>
                <p class="list-group-item list-group-item-action">doações regulares recebidas e outras rendas regulares</p>
              </div>
            </blockquote>
          </div>
        </div>
        <div class="card border-danger align-middle">
          <div class="card-body">
            <blockquote class="card-blockquote">
              <br>
              <label><strong>Renda Total: R$</strong> <input style="max-width:100px;" type="text" id="renda" name="renda" placeholder="0,00" value="0,00"></label>
            </blockquote>
          </div>
        </div>
      </fieldset>
      <div class="form-group bottom-align">
        <button type="submit" class=" btn btn-primary btn-block" id="btAdicionar">Próximo </button>
      </div>
    </form>

    <div class="div_info">
      <h4>Atenção!</h4>
      <p class="text-center">Para saber mais sobre os <strong>BENEFÍCIOS ASSISTENCIAIS</strong> <a href="#" class="" style="color:white;">click aqui</a>.</p>
    </div>
  </div>
  <div class="col-4"></div>
</div>

<script type="text/javascript">

$(document).ready(function()
{
     $("#renda").maskMoney({
         prefix: "",
         decimal: ",",
         thousands: "."
     });
});

</script>

{%endblock%}
